<html>
   <head>
       <title>Welcome to {{ http_host }} !</title>
   </head>
   <body>
       <h1>Success! The {{ http_host }} host is working!</h1>
       <h1>WELCOME TO GITHUB ACTIONS !</h1>
       <h1> Ansible is good!!!  !</h1>
   </body>
</html
